.jumbotron{
    padding-top: 6rem;
    background-color: #e2edff;
}

#study{
    background-color: #e2edff;
}

section{
    padding-top: 6rem;
}

footer > p > a{
    text-decoration: none;
}

.skill-img{
    width: 100%;
}

#skill .row > *{
    padding: 0;
}

.card-img-top {
    height: 100px; /* kecilkan gambar */
    object-fit: contain; /* biar gambar tidak terpotong */
}
  
.card-body {
    padding: 30px; /* kecilkan padding isi kartu */
}
  
.card-text {
    margin-bottom: 15px; /* spasi antar teks diperkecil */
}

.skill-icon {
    height: 100px;
    object-fit: contain;
    padding: 10px;
}